:root {
  --color-blackText: #000000;
  --color-blackBg: #000000;
  --color-tabsText: #6e6e6e;
  --color-lightBlackText: #212529;
  --color-footerBg: #303030;
  --color-greenBg: #17bfbf;
  --color-grayText: #8c8c8c;
  --color-whiteText: #ffffff;
  --color-whiteBg: #ffffff;
  --color-grayBorder: #5a5a5a;
}

.text_black {
  color: var(--color-lightBlackText);
}
.text_gray {
  color: var(--color-grayText);
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-blackText);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 77px;
  position: relative;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 18px 16px;
    gap: 20px;
  }
}

.line, .hamburger span:after, .hamburger span:before, .hamburger span {
  width: 100%;
  height: 4px;
  background-color: var(--color-blackBg);
  border-radius: 3px;
}

.hamburger {
  background: none;
  border: none;
  width: 24px;
  padding: 0;
  margin: 0;
  height: 35px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span {
  position: relative;
  display: block;
  display: none;
}
.hamburger span:before {
  position: absolute;
  left: 0;
  top: 8px;
  content: " ";
  display: block;
}
.hamburger span:after {
  position: absolute;
  left: 0;
  top: 16px;
  content: " ";
  display: block;
}
@media (max-width: 768px) {
  .hamburger span {
    display: block;
  }
}
@media (max-width: 768px) {
  .hamburger {
    align-self: flex-start;
    position: relative;
  }
  .hamburger:after {
    content: attr(data-after);
    display: block;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    position: absolute;
    left: 36px;
    top: -7px;
  }
}

.logotype {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logotype__text {
  font-size: 14px;
  line-height: 21px;
}
.logotype__text p {
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .logotype__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logotype__text > * {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .logotype {
    flex-direction: column;
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
  margin-left: auto;
  gap: 34px;
}
.menu a {
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}
.menu a.active {
  border-bottom: 2px solid var(--color-greenBg);
}
@media (max-width: 768px) {
  .menu a {
    margin-left: 16px;
  }
}
@media (max-width: 768px) {
  .menu {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    background: var(--color-whiteBg);
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 2px -2px rgba(160, 160, 160, 0.2509803922);
    padding: 4px 0;
    height: 0;
    transition: height 0.3s linear;
    z-index: 2;
  }
  .menu.opened {
    height: 100%;
  }
}

.slider {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.slider__inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative;
  width: 100%;
  aspect-ratio: 2/1;
}
.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s linear;
  position: absolute;
  left: 0;
  top: 0;
}
.slider__nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: white;
  cursor: pointer;
}
.slider__nav_prev {
  left: 10px;
}
.slider__nav_next {
  right: 10px;
}

#tabs {
  padding-top: 96px;
}
@media (max-width: 768px) {
  #tabs {
    padding-top: 15px;
  }
}
#tabs h1 {
  text-align: center;
  font-family: Times, "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
}
@media (max-width: 768px) {
  #tabs h1 {
    font-size: 37px;
  }
}
#tabs h2 {
  text-align: center;
  font-family: Times, "Times New Roman", Times, serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 34px;
}
@media (max-width: 768px) {
  #tabs h2 {
    font-size: 30px;
  }
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding-top: 48px;
  padding-bottom: 39px;
}
@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
    gap: 10px;
  }
}
.tabs__item {
  text-transform: uppercase;
  color: var(--color-tabsText);
  border-bottom: 2px solid transparent;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  display: block;
  padding-bottom: 6px;
}
.tabs__item.active {
  color: var(--color-blackText);
  border-bottom: 2px solid var(--color-blackText);
}

.gallery {
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .gallery {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1024px) {
  .gallery__image {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .gallery__image {
    width: 100%;
    max-width: 432px;
  }
}

#panes {
  padding-top: 34px;
  padding-bottom: 85px;
  padding-left: 15px;
  padding-right: 15px;
}
#panes h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.panes {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  justify-content: center;
}
.panes__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: calc(25% - 34px);
}
@media (max-width: 1024px) {
  .panes__item {
    flex-basis: calc(33% - 34px);
  }
}
@media (max-width: 768px) {
  .panes__item {
    flex-basis: 100%;
  }
}
.panes__item img {
  margin-bottom: 9px;
}
.panes__item h3 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
.panes__item p {
  font-size: 16px;
  line-height: 24px;
}

footer {
  background: var(--color-footerBg);
  padding: 26px 81px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  gap: 69px;
  padding-bottom: 51px;
}
@media (max-width: 1024px) {
  .footer__columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1024px) {
  .footer__columns {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer__columns {
    padding-bottom: 0;
  }
}
.footer__column {
  flex-basis: 360px;
}
.footer__column h4 {
  color: var(--color-whiteText);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__addresses {
  display: flex;
  gap: 44px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.footer__address {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grayText);
}
.footer__address h5 {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-whiteText);
}
.footer__address a {
  color: var(--color-grayText);
}
@media (max-width: 768px) {
  .footer__address > * {
    text-align: center;
  }
}
.footer__blog {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  color: var(--color-whiteText);
  font-size: 17px;
  line-height: 25px;
}
.footer__blog h5 {
  font-weight: 400;
}
.footer__blogdate {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-grayText);
  padding-left: 17px;
  background: url("../images/arrow.png") 0 1px no-repeat;
}
.footer__socials {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.footer__copyright {
  text-align: center;
  color: var(--color-grayText);
  font-size: 14px;
  line-height: 21px;
}
.footer__copyright a {
  text-decoration: underline;
  color: inherit;
}
@media (max-width: 768px) {
  .footer__copyright {
    display: none;
  }
}

.form__control {
  border: 2px solid var(--color-grayBorder);
  border-radius: 4px;
  background: transparent;
  color: var(--color-whiteText);
  padding: 12px 20px;
  font-size: 13px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.form__control_error {
  background: url("../images/dots.png") calc(100% - 23px) center no-repeat;
}
.form__control:focus {
  outline: none;
}

textarea.form__control {
  height: 80px;
}

.button {
  background: var(--color-greenBg);
  color: var(--color-whiteText);
  text-transform: uppercase;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 31px 22px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.button:focus {
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
