:root {
  --color-blackText: #000000;
  --color-blackBg: #000000;
  --color-tabsText: #6E6E6E;
  --color-lightBlackText: #212529;
  --color-footerBg: #303030;
  --color-greenBg: #17bfbf;
  --color-grayText: #8C8C8C;
  --color-whiteText: #ffffff;
  --color-grayBorder: #5A5A5A;
}

.text_black {
  color: var(--color-lightBlackText);
}
.text_gray {
  color: var(--color-grayText);
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: var(--color-blackText);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 77px;
}

.line, .hamburger span:after, .hamburger span:before, .hamburger span {
  width: 100%;
  height: 4px;
  background-color: var(--color-blackBg);
  border-radius: 3px;
}

.hamburger {
  background: none;
  border: none;
  width: 24px;
  padding: 0;
  margin: 0;
  height: 35px;
  display: flex;
  flex-direction: column;
}
.hamburger span {
  position: relative;
  display: block;
  display: none;
}
.hamburger span:before {
  position: absolute;
  left: 0;
  top: 8px;
  content: " ";
  display: block;
}
.hamburger span:after {
  position: absolute;
  left: 0;
  top: 16px;
  content: " ";
  display: block;
}
@media (max-width: 767.98px) {
  .hamburger span {
    display: block;
  }
}

.logotype {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logotype__text {
  font-size: 14px;
  line-height: 21px;
}
.logotype__text p {
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  margin-left: auto;
  gap: 34px;
}
.menu a {
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  color: #000;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}
.menu a.active {
  border-bottom: 2px solid var(--color-greenBg);
}

#tabs {
  padding-top: 96px;
}
#tabs h1 {
  text-align: center;
  font-family: Times, "Times New Roman", Times, serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
}
#tabs h2 {
  text-align: center;
  font-family: Times, "Times New Roman", Times, serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 34px;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding-top: 48px;
  padding-bottom: 39px;
}
.tabs__item {
  text-transform: uppercase;
  color: var(--color-tabsText);
  border-bottom: 2px solid transparent;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  display: block;
  padding-bottom: 6px;
}
.tabs__item.active {
  color: var(--color-blackText);
  border-bottom: 2px solid var(--color-blackText);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#panes {
  padding-top: 34px;
  padding-bottom: 85px;
  padding-left: 15px;
  padding-right: 15px;
}
#panes h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.panes {
  display: grid;
  column-gap: 34px;
  row-gap: 62px;
  grid-template-columns: repeat(4, 1fr);
}
.panes__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.panes__item img {
  margin-bottom: 9px;
}
.panes__item h3 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
.panes__item p {
  font-size: 16px;
  line-height: 24px;
}

footer {
  background: var(--color-footerBg);
  padding: 26px 81px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  gap: 69px;
  padding-bottom: 51px;
}
.footer__column {
  flex-basis: 360px;
}
.footer__column h4 {
  color: var(--color-whiteText);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.footer__addresses {
  display: flex;
  gap: 44px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.footer__address {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-grayText);
}
.footer__address h5 {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-whiteText);
}
.footer__address a {
  color: var(--color-grayText);
}
.footer__blog {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  color: var(--color-whiteText);
  font-size: 17px;
  line-height: 25px;
}
.footer__blog h5 {
  font-weight: 400;
}
.footer__blogdate {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-grayText);
  padding-left: 17px;
  background: url("../images/arrow.png") 0 1px no-repeat;
}
.footer__socials {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}
.footer__copyright {
  text-align: center;
  color: var(--color-grayText);
  font-size: 14px;
  line-height: 21px;
}
.footer__copyright a {
  text-decoration: underline;
  color: inherit;
}

.form__control {
  border: 2px solid var(--color-grayBorder);
  border-radius: 4px;
  background: transparent;
  color: var(--color-whiteText);
  padding: 12px 20px;
  font-size: 13px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.form__control_error {
  background: url("../images/dots.png") calc(100% - 23px) center no-repeat;
}
.form__control:focus {
  outline: none;
}

textarea.form__control {
  height: 80px;
}

.button {
  background: var(--color-greenBg);
  color: var(--color-whiteText);
  text-transform: uppercase;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 31px 22px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.button:focus {
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
