:root {
  --color-blackText: #000000;
  --color-blackBg: #000000;
  --color-tabsText: #6E6E6E;
  --color-lightBlackText: #212529;
  --color-footerBg: #303030;
  --color-greenBg: #17bfbf;
  --color-grayText: #8C8C8C;
  --color-whiteText: #ffffff;
  --color-grayBorder: #5A5A5A;
}

@import "./tools/breakpoints";
@import "./parts/common/modifiers";

@import "./parts/common/body";
@import "./parts/common/grid";

@import "./parts/header/header";
@import "./parts/header/hamburger";
@import "./parts/header/logotype";
@import "./parts/header/menu";
@import "./parts/main/tabs";
@import "./parts/main/gallery";
@import "./parts/main/panes";
@import "./parts/footer/footer";
@import "./parts/footer/form";
@import "./parts/common/button";