:root {
  --color-blackText: #000000;
  --color-blackBg: #000000;
  --color-tabsText: #6e6e6e;
  --color-lightBlackText: #212529;
  --color-footerBg: #303030;
  --color-greenBg: #17bfbf;
  --color-grayText: #8c8c8c;
  --color-whiteText: #ffffff;
  --color-whiteBg: #ffffff;
  --color-grayBorder: #5a5a5a;
}

@import "./tools/breakpoints";
@import "./parts/common/modifiers";

@import "./parts/common/body";
@import "./parts/common/grid";

@import "./parts/header/header";
@import "./parts/header/hamburger";
@import "./parts/header/logotype";
@import "./parts/header/menu";
@import "./parts/main/slider";
@import "./parts/main/tabs";
@import "./parts/main/gallery";
@import "./parts/main/panes";
@import "./parts/footer/footer";
@import "./parts/footer/form";
@import "./parts/common/button";
