.text {
  &_black {
    color: var(--color-lightBlackText);
  }

  &_gray {
    color: var(--color-grayText);
  }
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}
.hide-mobile {
  @include respond-to(md) {
    display: none !important;
  }
}
