#panes {
    padding: {
        top: 34px;
        bottom: 85px;
        left: 15px;
        right: 15px;
    }

    & h2 {
        font: {
            size: 40px;
            weight: 400;
        }

        line-height: 48px;
        text-align: center;
    }
}

.panes {
    display: grid;
    column-gap: 34px;
    row-gap: 62px;
    grid-template-columns: repeat(4, 1fr);

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & img {
            margin-bottom: 9px;
        }

        & h3 {
            margin-bottom: 10px;

            font: {
                size: 24px;
            }

            line-height: 36px;
            text-transform: uppercase;
        }

        & p {
            font: {
                size: 16px;
            }

            line-height: 24px;
        }
    }
}