.line {
  width: 100%;
  height: 4px;
  background-color: var(--color-blackBg);
  border-radius: 3px;
}
.hamburger {
  background: none;
  border: none;
  width: 24px;
  padding: 0;
  margin: 0;
  height: 35px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  & span {
    @extend .line;
    position: relative;
    display: block;
    display: none;

    &:before {
      position: absolute;
      left: 0;
      top: 8px;
      @extend .line;
      content: " ";
      display: block;
    }

    &:after {
      position: absolute;
      left: 0;
      top: 16px;
      @extend .line;
      content: " ";
      display: block;
    }

    @include respond-to(md) {
      display: block;
    }
  }

  @include respond-to(md) {
    align-self: flex-start;
    position: relative;
    &:after {
      content: attr(data-after);
      display: block;
      font: {
        size: 25px;
        weight: 400;
      }
      line-height: 35px;
      position: absolute;
      left: 36px;
      top: -7px;
    }
  }
}
